.container {
  width: 85%;
  margin: 5rem auto;
}

.next {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 12.5rem;
  background: linear-gradient(
    215.78deg,
    #b57e10 -124.09%,
    #b57e10 -78.76%,
    #f9df7b -35.76%,
    #fff3a6 8.4%,
    #f9df7b 50.24%,
    #b57e10 99.06%
  );
  border-radius: 1.125rem;
  padding: 1.5rem;
  position: relative;
  transition: all 1s;
}

.next img {
  transition: 0.5s;
}

.next:hover img {
  transform: scale(1.2);
}
.id {
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  background: #fff;
  color: #1d1e1d;
  text-align: center;
  width: 100%;
}

.pokemonImg {
  width: 9.375rem;
  height: 9.375rem;
}

@media (max-width: 400px) {
  .container {
    width: 60%;
    margin: 5rem auto;
  }
}
