.Container {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
position: relative;
top: 4rem;

  
}

.button {
  width: 12rem;
  height: 2rem;
  border: 0;
  cursor: pointer;
}
.button:disabled {
  background: #fdd;
  cursor: default;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.form {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.form label {
  position: absolute;
  top: 10px;
  left: 15px;
  transition: all 1s;
  

}

.form input {
  outline: none;
  border: 1px solid grey;
  border-bottom: 2px solid gray;
  border-radius: 3px;
  width: 15rem;
  color: #000000;
  height: 2.5rem;
  background: #d4d5d6;
  padding: 10px;
  transition: border 1s linear;
}
.form input:disabled ,.form input:disabled .label{
  opacity: 0.5;
}

.form input:focus-visible {
  border: 1px solid #ff6753;
  border-bottom: 2px solid #ff6753;
}

.form input:focus-visible + .label{
  font-size: 13px;
  top: -15px;
  left: 0;
  
}

.form .labelActive{
  font-size: 13px;
  top: -15px;
  left: 0;

}


.ImagePokemon {
  width: 250px;
  height: 250px;
  filter: brightness(0);
  transition: filter 1s;
}
