.select {
  position: relative;
  min-width: 12.5rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 0.3r  em; */
}

.select img{

    position: absolute;
    z-index: 1;
    right: 12px;
    top: calc(50% - 3px);
    width: 12px;
    height: 25px;

}

.select select{
  z-index: 3;
  -webkit-appearance: none;
    padding: 0.438rem 2.5rem 0.438rem 0.75rem;
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    transition: all 150ms ease;
}
.select option{
  color: #223254;
}
.select select:focus{

  outline: none;
  border-color: #0077FF;
  box-shadow: 0 0 0 2px rgba(#0077FF,.2);
}

.input{
  height: 53px;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  padding:  1rem 2rem ;
  border: 0;
  outline: none;
  background: #F2F2F2;
}
.container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.wraper{
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  gap:3rem
}
.show .select{
  z-index: 3;
  width: 1000px;
}
.range{
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

@media(max-width:900px){
  .wraper{
    flex-wrap: wrap;
  }
}