.Card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 1rem;
transition: all 0.5s;
box-shadow: 3px 3px 0 2px rgba(0, 0, 0, 0.5);
background: #505050;
}

.Card:hover{
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0 2px rgba(0, 0, 0, 0.5), inset  1px 1px 0 2px rgba(0, 0, 0, 0.05);
}


.Card a img{
  font-size: 0;
  width: 20px;
  height: 20px;

}

.Card p{
text-align: center;
color: #ffffff;
font-size: 18px;
}
.Card p:last-of-type{
  font-weight: 700;
  text-transform: capitalize;
}