.list {
  padding: 0.7rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px 40px;
  flex-wrap: wrap;
  width: 500px;
}
.ElementList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
}
.ElementList p {
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
}
.ElementList p:last-of-type {
  font-weight: 700;
}

.bar {
  width: 100%;
  border: 1px solid white;
  height: 9px;
  position: relative;
  border-radius: 8px;
}
.barContent {
  position: absolute;
  background-color: yellow;
  border-radius: 8px;
  width: 10%;
  height: 7px;
}
