.list {
  padding: 0.7rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem 2.5rem;
  flex-wrap: wrap;
  width: 31.25rem;
  min-width: 12.5rem;
}
.ElementList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:40%;
}
.ElementList p {
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
}
.ElementList p:last-of-type {
  font-weight: 700;
}

.bar {
  width: 100%;
  border: 1px solid white;
  height: 0.625rem;
  border-radius: 5px;
}
.barContent {
  background-color: yellow;
  border-radius: 4px;
  height: 100%;
}

@media (min-width: 2000px) {
  .list {
    width: 800px;
    gap: 2rem 5rem;
  }
  .bar {
    height: 1rem;
  }
  .barContent {
    height: 100%;
  }
  .ElementList p {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .list {
    width: 100%;
    gap: 2rem 0rem;
  }
  .bar {
    width: 70%;
  }
  .ElementList {
    width: 50%;
  }
  .ElementList p {
    font-size: 1rem;
  }


}
