.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background: #f5db13;
  border-bottom: 1px solid rgba(77, 100, 120, 0.2);
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  position: relative;
  z-index: 3;
}
.header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header  .iconOpen {
  transform: translateY(10%);
}

.logo {
  cursor: pointer;
}


.iconClose {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.2s;
}
.iconOpen {
  cursor: pointer;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.menu {
  transition: all 0.5s;
  display: flex;
}

.show .menu {
  display: block;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  height: 40%;
  border-radius: 0 0 2rem 2rem;
  top: 0;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.menuMobile {
  z-index: 100;
  top: 0;
  left: 0;
  position: sticky;
  width: 100%;

  border: none;
}

.list {
  list-style: none;
  gap: 3.125rem;
  display: flex;
  justify-content: space-evenly;
}
.list li {
  position: relative;
}
.show .containerMenu {
  transition: all 0.5s;

  position: fixed;
  top: 5rem;
  width: 100%;
  height: calc(100vh - 5rem);
  background: #21212180;
}

.show .menu .list {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  position: relative;
}
.show .menu .list li {
  font-size: 26px;
}
.notSelected::after {
  transform: scaleX(0);
  transition: all 500ms ease;
  position: absolute;
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  left: 0;
  height: 3px;
  margin-top: 1rem;
  transform-origin: bottom left;
}

.notSelected:hover::after {
  transform: scaleX(1);
}

.selected::after {
  position: absolute;
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .header nav {
    justify-content: space-around;
  }
  .menu {
    top: -50rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  .list {
    display: none;
  }
  .iconOpen {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.show .iconClose {
  visibility: visible;
  opacity: 1;
  display: block;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}
.show .iconOpen {
  visibility: hidden;
  opacity: 0;
  display: none;
}
