.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background: #f5db13;
  border-bottom: 1px solid rgba(77, 100, 120, 0.2);
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.list {
  list-style: none;
  gap: 3.125rem;
  display: flex;
  justify-content: space-evenly;
}
.list li {
  position: relative;
}

.notSelected::after {
  transform: scaleX(0);
  transition: all 500ms ease;
  position: absolute;
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  left: 0;
  height: 3px;
  margin-top: 1rem;
  transform-origin: bottom left ;
}

.notSelected:hover::after {
  transform: scaleX(1);
}

.selected::after {
  position: absolute;
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 1rem;
}


@media (max-width: 400px) {
  .header {
    justify-content: space-around;
  }
}
